body {
    font-family: "Slackey", sans-serif;;
    background-color: #000000;
}


/* Top Bar Desktop */


/* Top Bar Mobile */

.topBarDesktop a {
    text-decoration: none;
}

.igIcon {
    width: 15%;
    float: right;
}

.mapIcon {
    width: 20%;
}

.onlineCourseIcon {
    width: 15%;
}


/* Cities Served */
.cities-served {
    font-size: smaller;
    letter-spacing: 1px;
    color: rgb(135, 135, 255);
}

.cities-served img {
    width: 4%;
}



/* Hero Section */
.title img {
    width: 100%;
    border-radius: 12px;
    box-shadow: 0px 0px 19px 2px grey;
}

.subtitle p {
    letter-spacing: 1px;
    font-size: medium;
    color: rgba(245, 245, 220, 0.859);
}



/* Simple Steps! */
.steps {
    border-top: 2px solid white;
}

.stepsRow {
    padding-top: 4%;
}

.steps h2 {
    color: blueviolet;
}

.steps p {
    color: beige;
    letter-spacing: 1px;
}

.steps img {
    width: 50%;

}

.permit p {
    color: rgb(255, 117, 66);
}


/* What's Needed Page*/

.homeIcon {
    width: 15%;
    border-radius: 3px;
}

.temp {
    color: beige;
}