body {
    font-family: "Slackey", sans-serif;;
    background-color: #000000;
}


/* Top Bar */

.navDropdown {
    color: beige;
    font-size: larger;
    letter-spacing: 1px;
}

.navDropdown:hover {
    transform: scale(1.1);
    color: beige;
}

.topBarDesktop a {
    text-decoration: none;
}

.studentSuccess {
    text-align: end;
}

.studentIcon {
    width: 12%;
}

.studentIcon:hover {
    transform: scale(1.1);
}


/* Cities Served */
.cities-served {
    font-size: smaller;
    letter-spacing: 1px;
    color: rgb(135, 135, 255);
}

.cities-served img {
    width: 4%;
}



/* Hero Section */
.hero img {
    width: 60%;
}

.hero img:hover {
    transform: scale(1.1);
}


/* Simple Steps! */
.steps {
    border-top: 2px solid white;
}

.stepsRow {
    padding-top: 4%;
}

.steps h2 {
    color: blueviolet;
}

.steps p {
    color: beige;
    letter-spacing: 1px;
}

.steps img {
    width: 50%;

}

.permit p {
    color: rgb(255, 117, 66);
}


/* What's Needed Page*/

.homeIcon {
    width: 15%;
    border-radius: 3px;
}

.temp {
    color: beige;
}
