body {
    font-family: "Slackey", sans-serif;;
    background-color: #000000;
}


/* Top Bar */

.navDropdown {
    color: beige;
    font-size: larger;
    letter-spacing: 1px;
}

.navDropdown:hover {
    transform: scale(1.1);
    color: beige;
}

.topBarDesktop a {
    text-decoration: none;
}

.studentSuccess {
    text-align: end;
}

.studentIcon {
    width: 12%;
}

.studentIcon:hover {
    transform: scale(1.1);
}


/* Hero Section */
.hero img {
    width: 60%;
}

.hero img:hover {
    transform: scale(1.1);
}


/* Simple Steps! */


.stepsRow {
    padding-top: 4%;
}

.steps h2 {
    color: blueviolet;
}

.steps p {
    color: beige;
    letter-spacing: 1px;
}

.steps img {
    width: 65%;
}

.permit p {
    color: rgb(255, 117, 66);
}



